{
  "singleQuote": true,
  "printWidth": 110,
  "bracketSpacing": false,
  "importOrder": ["^@crackedmetrics/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
